.values {
  width: 100%;
  display: flex;
  align-items: center;
}
.values > * {
  flex: 1 0 33%;

  padding: 10px;

  background-color: #2e3338;
}

.list {
  background-color: #36393f;

  min-height: 150px;
  overflow-y: auto;
}